//
   Created by Answer1215 on 5/11/2015.
.panel.panel-primary.skills
    .panel-heading.text-center {{'body.skills.masterSkills' | translate}}
    .panel-body
        .row(ng-repeat="skill in main.skills | filter:{mastered: true}")
            .col-md-3.col-xs-3 {{::skill.published | date: 'MM/yyyy'}}
            .col-md-5.col-xs-5
                a(ui-sref="app.skills.skill-detail({id: skill._id})" class="skill {{skill.tags | ary2str}}") {{skill.title}}
