html
  margin 0
  padding 0
  boder 0

body
  font-size 16px
  padding-top 61px

.jumbotron
  position relative
  color #d7e0e2
  background-color rgba(0,0,0,0.6)
  max-height 320px
  margin 0

.jumbotron::after
  content ""
  background url(../images/bg.png) center top
  top 0
  left 0
  bottom 0
  right 0
  position absolute
  z-index -1

.label
  margin-left 5px

blockquote
  border-left 5px solid #18BC9C

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color #ccc

#skill_section
  background url(../images/bg2.png) center top

  .container
    padding-top 40px

  h1
    text-decoration underline

  p
    margin-top 10px
    color lightslategrey
    font-size 14px
    line-height 20px
    padding-bottom 20px

.category-nav
  overflow hidden
  width 100%
  margin-top -20px

.category-nav h3 span
  float left
  margin-top 5px

.category-nav span .badge
  margin-left 6px
  margin-top 2px

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.toast-top-right
  top 70px

.toast-success
  background-color #13987e

.margin-left-med
  margin-left 10px

.padding-top-med
  padding-top 10px

.glyphicon
  top 0

form
  margin-top 20px
  margin 0 auto

footer
  border-top: #d7e0e2 1px solid
  padding 15px
  background rgba(0,0,0,0.9)
  color white
  min-height 20px
  height auto


@media (max-width: 460px)
  .jumbotron
    width 100%
    margin 0
    padding 0
    padding-top 61px
    border 0
    position relative

    h1
      font-size 28px
      top -12px
      left 15px
      position absolute

    blockquote
      background rgba(0,0,0,0.45)
      bottom 0
      border 0
      margin 0
      height auto
      width 100%
      font-size 11px





