html {
  margin: 0;
  padding: 0;
  boder: 0;
}
body {
  font-size: 16px;
  padding-top: 61px;
}
.jumbotron {
  position: relative;
  color: #d7e0e2;
  background-color: rgba(0,0,0,0.6);
  max-height: 320px;
  margin: 0;
}
.jumbotron::after {
  content: "";
  background: url("../images/bg.png") center top;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.label {
  margin-left: 5px;
}
blockquote {
  border-left: 5px solid #18bc9c;
}
.navbar-header a.navbar-brand {
  margin-top: -15px;
  margin-bottom: -20px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
#skill_section {
  background: url("../images/bg2.png") center top;
}
#skill_section .container {
  padding-top: 40px;
}
#skill_section h1 {
  text-decoration: underline;
}
#skill_section p {
  margin-top: 10px;
  color: #789;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 20px;
}
.category-nav {
  overflow: hidden;
  width: 100%;
  margin-top: -20px;
}
.category-nav h3 span {
  float: left;
  margin-top: 5px;
}
.category-nav span .badge {
  margin-left: 6px;
  margin-top: 2px;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.toast-top-right {
  top: 70px;
}
.toast-success {
  background-color: #13987e;
}
.margin-left-med {
  margin-left: 10px;
}
.padding-top-med {
  padding-top: 10px;
}
.glyphicon {
  top: 0;
}
form {
  margin-top: 20px;
  margin: 0 auto;
}
footer {
  border-top: #d7e0e2 1px solid;
  padding: 15px;
  background: rgba(0,0,0,0.9);
  color: #fff;
  min-height: 20px;
  height: auto;
}
