body
  padding-top 61px

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color #ccc

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.toast-top-right
  top 70px

.toast-success
  background-color #13987e

.margin-left-med
  margin-left 10px

.padding-top-med
  padding-top 10px

.glyphicon
  top 0

form
  margin-top 20px
  margin 0 auto

footer
  padding-left 15px
  padding-right 15px
  p
    border-top: #d7e0e2 1px solid

