extends ../includes/layout

block main-content
   section.content
      .navbar.navbar-inverse.navbar-fixed-top
         .container
            .navbar-header
               a.navbar-brand(ui-sref="app.main()") {{'header.zhentianHome' | translate}}
                  h6 - {{'header.skillsStack' | translate}}
             .navbar-collapse.collapse
                //ul.nav.navbar-nav
                //   li.active
                //     a(ui-sref="app.skills()") {{'header.skills' | translate}}
                page-nav
                div.locale-selector
                div(ng-include="'/partials/users/navbar-login'")
      div(ui-view="main")

   footer.container.text-center
      p &copy; 2015 Answer
