extends ../includes/layout

block main-content
   section.content
      .navbar.navbar-inverse.navbar-fixed-top
         .container-fluid
            .navbar-header
               a.navbar-brand(ui-sref="app.main()") {{'header.zhentianHome' | translate}}
                  h6 - {{'header.skillsStack' | translate}}
             .navbar-collapse.collapse
                page-nav
                div.locale-selector
                div(ng-include="'/partials/users/navbar-login'")
      div(ui-view="main")

   footer.container-fluid.text-center
      p &copy; 2015 Zhentian Wan
