extends ../includes/layout

block main-content
   section.content
      .navbar.navbar-inverse.navbar-fixed-top
         .container
            .navbar-header
               a.navbar-brand(ui-sref="app.main()") Zhentian's Home
                  h6 - Skills stack
             .navbar-collapse.collapse
                ul.nav.navbar-nav
                   li
                     a(ui-sref="app.main()") Home
                   li
                     a(ui-sref="app.skills()") Skills
                   li
                     a(href="http://zhentian-wan.github.io/") Old
                div(ng-include="'/partials/users/navbar-login'")
      div(ui-view="main")

   footer.container.text-center
      p &copy; 2015 Answer
