//
   Created by Answer1215 on 5/11/2015.

.navbar-right(ng-controller="AccountController as users")
   form.navbar-form(ng-hide="users.isAuthed()")
      .form-group
         input.form-control(placeholder="username" ng-model="users.username")
      .form-group
         input.form-control(type="password" placeholder="Password" ng-model="users.password")
      button.btn.btn-primary(ng-click="users.signin(users.username, users.password)") Sign In
      | &nbsp;
      a.btn.btn-info(ui-sref="app.signup()") Sign Up
   ul.nav.navbar-nav.navbar-right(ng-show="users.isAuthed()")
      li.dropdown
         a.dropdown-toggle(href="" data-toggle="dropdown") {{users.user.firstName + " " + users.user.lastName}}
            b.caret
         ul.dropdown-menu
            li(ng-show="users.user.isAdmin()")
               a(ui-sref="app.admin()") User Admin
            li
               a(ui-sref="app.profile()") User Profile
            li
               a(href="" ng-click="users.signout()") Sign Out

