.container(ng-controller="ProfileController as profileCtrl")
   .well
      form.form-horizontal(name="profileForm")
         legend {{'form.userProfile' | translate}}
         .form-group
            label.col-md-2.control-label(for="username") {{'form.userName' | translate}}
            .col-md-10
               input.form-control(name="username", type="text", placeholder="{{'form.enterUserName' | translate}}" ng-model="profileCtrl.username")
         .form-group
            label.col-md-2.control-label(for="fname") {{'form.firstName' | translate}}
            .col-md-10
               input.form-control(name="fname", type="text", placeholder="{{'form.enterFirstName' | translate}}" ng-model="profileCtrl.fname")
         .form-group
            label.col-md-2.control-label(for="lname") {{'form.lastName' | translate}}
            .col-md-10
               input.form-control(name="lname", type="text", placeholder="{{'form.enterLastName' | translate}}" ng-model="profileCtrl.lname")
         .form-group
            label.col-md-2.control-label(for="password") {{'form.password' | translate}}
            .col-md-10
               input.form-control(name="password", type="password", placeholder="{{'form.enterPassword' | translate}}" ng-model="profileCtrl.password")
         .form-group
            .col-md-10.col-lg-offset-2
               .pull-right
                  button.btn.btn-info(ng-click="profileCtrl.updateProfile()" ng-disable="profileForm.$invalid") {{'form.update' | translate}}
                  | &nbsp;
                  a.btn.btn-default(href="/") {{'form.cancel' | translate}}