//
   Created by Answer1215 on 5/14/2015.

h2.sub-header {{'form.registeredUsers' | translate}}
.table-responsive
   table.table.table-striped.table-hover(ng-controller="usrListController as usersCtrl")
      thead
         tr
            th {{'form.picture' | translate}}
            th {{'form.userName' | translate}}
            th {{'form.email' | translate}}
            th {{'form.firstName' | translate}}
            th {{'form.lastName' | translate}}
            th {{'form.role' | translate}}
            th {{'form.action' | translate}}
      tbody
         tr.fx-fade-down.fx-easing-strong.fx-speed-400(ng-repeat="user in usersCtrl.users")
            td.avatar-sm
               gravatar(email="user.email")
            td {{user.username}}
            td {{user.email}}
            td {{user.firstName}}
            td {{user.lastName}}
            td {{user.role[0] || 'common.user' | translate}}
            td
               button.btn.btn-danger(ng-click="usersCtrl.removeUser(user)") {{'form.delete' | translate}}


