//
   Created by Answer1215 on 5/14/2015.


.container(ng-controller="usrListController as usersCtrl")
   table.table
      tr.row(ng-repeat="user in usersCtrl.users")
         td.col-sm-6 {{user.firstName + ' ' +user.lastName}}
         td.col-sm-5.col-sm-offset-1
               button.btn.btn-danger(ng-click="usersCtrl.removeUser(user)") {{'form.delete' | translate}}

