//
   Created by Answer1215 on 6/10/2015.


.panel.panel-primary(id="category")
   .panel-heading.text-center {{'body.skillCategory' | translate}}
   .panel-body
      .category-nav.vcenter
         h3(ng-repeat="(key, value) in categoryCtrl.tags")
            span.label.label-info(href="" ng-click="categoryCtrl.toggleCategory(key)" ng-class="{'label-warning': categoryCtrl.isActive(key)}")
               span.badge.pull-right {{value}}
               span {{key}}