//
   Created by Answer1215 on 6/10/2015.


.panel.panel-primary(id="category")
   .panel-heading.text-center {{'body.skillCategory' | translate}}
   .panel-body
      .category-nav.vcenter
         h3(ng-repeat="(key, value) in cateCtrl.tags")
            span.label.label-info(href="" ng-click="cateCtrl.highlight(key)" ng-class="{'label-warning': cateCtrl.isSelected(key)}") {{key}}
               span.badge.pull-right {{value}}