//
   Created by Answer1215 on 6/10/2015.


.panel.panel-primary
   .panel-heading.text-center {{'body.skillCategory' | translate}}
   .panel-body
      .category-nav
         span.label.label-info(href="" ng-repeat="tag in cateCtrl.tags") {{tag}}