//
   Created by Answer1215 on 5/19/2015.
.container(ng-controller="CourseDetailController as courseDetailCtrl")
   h1 Course Detail
   .row
      .col-md-6.col-sm-12
         h3(ng-show="courseDetailCtrl.course.featured") Featured
         h3 Published on {{courseDetailCtrl.course.published | date}}

      .col-md-6.col-sm-12
         .panel.panel-primary
            .panel-heading Tags
            .panel-body
               div(ng-repeat="tag in courseDetailCtrl.course.tags") {{tag}}

