//
   Created by Answer1215 on 6/12/2015.
#experience
   .container
      .row.text-center
         .col-md-12
            h1.section_h1 {{'body.experience' | translate}}
         .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1
            p.section_p {{'body.experienceDesc' | translate}}
   section#cd-timeline.cd-container
      .cd-timeline-block
         .cd-timeline-img.cd-grey
            img(ng-src='../../images/make.png', alt='Make')
         .cd-timeline-content
            h2 Web Developer
            h6 @ Make Helsinki Ltd
            p
               | Many sites by using AngularJS framework and Node.js & Express.js.
            span.cd-date Dec, 2014 - Present
      .cd-timeline-block
         .cd-timeline-img.cd-grey
            img(ng-src='../../images/make.png', alt='Make')
         .cd-timeline-content
            h2 Web Developer
            h6 @ Make Helsinki Ltd
            p
               | I was working on Content management system (CMS) based on MODx.
            span.cd-date Dec, 2014 - Present
      .cd-timeline-block
         .cd-timeline-img.cd-grey
            img(ng-src='../../images/make.png', alt='Make')
         .cd-timeline-content
            h2 Web Developer
            h6 @ Make Helsinki Ltd
            p
               | I was working on CakePHP & AngualrJS for a website.
            span.cd-date Sep, 2014 - Dec, 2014
      .cd-timeline-block
         .cd-timeline-img.cd-grey
            img(ng-src='../../images/uef.png', alt='UEF')
         .cd-timeline-content
            h2 Web Developer
            h6 @ University of Eastern Finland
            p
               | I was working on Location-based application with Google maps API, PHP, MySQL & Javascript.
            span.cd-date June, 2012 - June, 2014

