//
   Created by Answer1215 on 5/11/2015.

.navbar-right
   form.navbar-form(ng-controller="AccountController as account" ng-hide="account.isAuthed()")
      .form-group
         input.form-control(placeholder="username" ng-model="account.username")
      .form-group
         input.form-control(type="password" placeholder="Password" ng-model="account.password")
      button.btn.btn-primary(ng-click="account.signin(account.username, account.password)") Sign In
