doctype
html
    head
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(href="/css/bootstrap.css", rel="stylesheet")
        link(href="/css/site.css", rel="stylesheet")
        link(href="/vendor/toastr/toastr.min.css" rel='stylesheet')
    body(ng-app="app")
        block main-content
        //include all the javascript files
        include scripts