//
   Created by Answer1215 on 5/7/2015.

script(type="text/javascript", src="/vendor/jquery/dist/jquery.min.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript", src="/vendor/angular/angular.min.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.min.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.min.js")
script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/mainController.js")
script(type="text/javascript", src="/app/account/accountController.js")
script(type="text/javascript", src="/app/account/loginService.js")
script(type="text/javascript", src="/vendor/toastr/toastr.min.js")
script(type="text/javascript", src="/app/common/toast.js")
script(type="text/javascript", src="/app/account/identity.js")
