//
   Created by Answer1215 on 5/11/2015.
.panel.panel-primary
   .panel-heading.text-center Featured Course
   .panel-body
      .row(ng-repeat="course in main.courses | filter:{featured: true}")
         .col-md-12 {{course.name}}
