//
   Created by Answer1215 on 5/11/2015.
.panel.panel-primary.skills
   .panel-heading.text-center {{'body.skills.knowingSkills' | translate}}
   .panel-body
      .row(ng-repeat="skill in main.skills | filter:{know: true} | orderBy: 'published' :true ")
         .col-md-3 {{::skill.published | date: 'MM/yyyy'}}
         .col-md-9
            a(ui-sref="app.skills.skill-detail({id: skill._id})" class="skill {{skill.tags | ary2str}}") {{skill.title}}
