.container-fuild(ng-controller="MainController as main")
    .jumbotron
        h1.text-justify {{'body.main.webDeveloper' | translate}}
        blockquote.text-justify {{'body.main.AAA' | translate}}

    include ./skill/skills
    include ./experience/experience


