.container(ng-controller="MainController as main")
    .jumbotron
        h1 Me as a web developer
        blockquote Your attitude, not your aptitude, will determine your

    .row
        .col-md-4
            div(ng-include="'/partials/main/master-skills'")
        .col-md-4
            div(ng-include="'/partials/main/knowing-skills'")
        .col-md-4
            div(ng-include="'/partials/main/learning-skills'")