//
   Created by Answer1215 on 6/10/2015.

ul.nav.navbar-nav
   li(ng-class="{'active': navCtrl.isPage('skill_section')}")
      a(href="" ng-click="navCtrl.scrollTo('skill_section')") {{'header.skills' | translate}}